<h1><%= @task.title %></h1>
<p><%= @task.description %></p>
<p><%= @task.priority %></p>
<%= link_to "See all tasks", index_path %>
<%= link_to "Edit", taskedit_path %>
<%= link_to "Delete", deletetask_path,
      method: :delete,
      data: { confirm: "Are you sure?" } %>
